div{
  background-color: rgb(19, 53, 123);
  border-radius: 50px;
}
img {
  max-width: 400px;
  max-height: 400px;
  min-height:400px;
  border-radius: 50px;

}
#app{
  text-align: center;
 
}
#ramen{
 height:200px ;
 width:200px ;
}
.upgrades{
  max-height: 300px;
  max-width:900px
}
input{
text-align: center;
}
h1{
  text-align: center;
  background-color: aqua;
  border-radius: 500px;
  width:5;
  text-decoration-color: blue;
}
body{
  text-align: center;
  background-color: black;
}