#app{
  text-align: center;
 
}
#ramen{
 height:200px ;
 width:200px ;
}
.upgrades{
  max-height: 300px;
  max-width:900px
}
input{
text-align: center;
}
h1{
  text-align: center;
  background-color: aqua;
  border-radius: 50px;
  width:5;
  text-decoration-color: blue;
}
body{
  text-align: center;
  background-color: grey;
}